/* .navbar-default {
    background: #202020;
    border: none;
    
    padding-right: 40px;
    margin: 0 !important;
    position: relative;
    top: 20px;
  }
.navbar-default>.navbar-brand {
    font-size: 40px;
    line-height: 40px;
    padding-top: 4px;
   }
.navbar-default>.navbar-nav li a {
  color:white;
  font-size: 13px;
  font-weight: 400;
  line-height: 40px;
  transition: all 0.4s ease-in;
 }
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffa500;
}
 .navbar-nav > .active > a,
 .navbar-nav > .active > a:hover,
 .navbar-nav > .active > a:focus {
  	color: #ffa500;
  	background-color: transparent;
}
.navbar-toggle {
  	background: white;
  	border-radius: 0px;
   	border: none;
   	margin-top: 20px;
   	margin-bottom: 30px;
}
 .navbar-toggle >.icon-bar {
    background: #fff;
    border-color: transparent;
}
 .navbar-toggle:hover,
 .navbar-toggle:focus { 
  background-color: transparent 
}
/* <div className="head container">
               <nav className="col-lg-12  col-md-6">
                   
                   <Link style={link} to="/home"><h2 style={style}>logo</h2></Link>
                   
               </nav>
                
            </div> */ 